:root {
  --light-color: #f4f4f4;
  --update-color: #3594f3;
  --error-color: #f51b30;
  --success-color: #2db94e;
}

body {
  background-color: rgb(234, 234, 234) !important;
}

/*home page styles -----------------------------*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    #125031 0%,
    #6ba185 69%,
    #7ca18f 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

/*Top Nav bar */
.ui.inverted.top.fixed.menu {
  background-color: #125031;
}

/*Clock out button used in dashboard */
.clockOut {
  color: red;
  font-size: 1.1rem;
  cursor: pointer;
}

/*Search Jobsites Bar in ViewJobsites, places bar within container */
.view-jobsites-search {
  margin-right: 38px;
}

/*Search Jobsites Bar in general */
.ui.input {
  width: 100%;
}

/* for hh:mm:ss */
.duration {
  font-size: 0.7rem;
}

/*Alert Styles -------------------------- */
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-update {
  background: var(--update-color);
  color: #fff;
}

.alert-error {
  background: var(--error-color);
  color: #fff;
}

/* for employee name in EmployeeJobsite title*/
.employee-name {
  color: #333;
  font-size: 1.1rem;
  margin-left: 5px;
}

/* For the list of employees at JobsiteHistory */
.employees-list {
  margin: 0 5px 20px 0;
  padding: 0;
  list-style: none;
  display: column;
}

.employees-list li {
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.1rem;
}

.employees-list li a {
  color: #333;
}
/*------------------------*/

/*payroll Notes section in Payroll Page*/
.payroll-notes {
  margin-bottom: 15px;
}

.payroll-notes h4.ui.teal.header {
  margin-bottom: 0;
}

.payroll-notes p {
  margin: 0 5px;
  font-style: italic;
}

/*Search Filter Form ------------ */

.Filter-Date-Form {
  display: flex;
}

.Filter-Date-Form p {
  margin: 9.5px 5px 0 20px;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.6);
}

.Filter-Date-Form .button {
  margin-left: 20px;
  width: 200px;
}

/*Home page items ------------ */
.homepage-log-out button.ui.button {
  width: 150px;
}

.homepage-dashboard a.ui.teal.button {
  width: 150px;
}

@media (min-width: 600px) {
  .homepage-header h3.ui.teal.header {
    font-size: 2rem;
  }

  .homepage-clock-in button.ui.button {
    width: 300px;
  }

  .homepage-clock-out button.ui.button {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .homepage-h3 {
    font-size: 1.2rem;
  }

  .homepage-timestamps {
    display: none;
  }

  .homepage-dashboard a.ui.teal.button {
    width: 100%;
    margin-bottom: 5px;
  }

  .homepage-log-out button.ui.button {
    width: 100%;
  }

  .homepage-clock-out button.ui.button {
    width: 100%;
  }

  .homepage-clock-in button.ui.button {
    width: 100%;
  }
}
