:root {
  --light-color: #f4f4f4;
  --update-color: #3594f3;
  --error-color: #f51b30;
  --success-color: #2db94e;
}

body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  background-color: #bf953f;
}

/* For managing user Timestamps*/
.manage-edit {
  color: #4183c4;
  cursor: pointer;
}

.manage-delete {
  color: red;
  cursor: pointer;
}

.clockOut {
  color: red;
  font-size: 1.1rem;
  cursor: pointer;
}

.view-jobsites-search {
  margin-right: 38px;
}

/*Search Jobsites Bar */
.ui.input {
  width: 100%;
}

/* for hh:mm:ss */
.duration {
  font-size: 0.7rem;
}

/*Alert Styles ------ */
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-update {
  background: var(--update-color);
  color: #fff;
}

.alert-error {
  background: var(--error-color);
  color: #fff;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    #bf953f 0%,
    #fcf6ba 69%,
    #fbf5b7 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

/*Search Filter Form */

.Filter-Date-Form {
  display: flex;
}

.Filter-Date-Form p {
  margin: 9.5px 5px 0 20px;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.6);
}

.Filter-Date-Form .button {
  margin-left: 20px;
  width: 200px;
}
